@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-primary: crimson;
}

/* base styles */
body {
  background: #eee;
  font-family: "Roboto";
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  background: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
}
form {
  max-width: 500px;
}
input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: "Roboto";
}
textarea {
  min-height: 200px;
}

.blogs {
  box-sizing: border-box;
}

.blogs::-webkit-scrollbar {
  display: none;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.spinner-1 {
  display: none;
}

/* Spinner */
.spinner-1 {
  width: 50px;
  height: 50px;
  position: relative;
}
/* Spinner-1 */
.spinner-1 div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 0.4em solid var(--color-primary);
  border-radius: 50%;
}

.spinner-1.spinner-1.is-loading {
  display: block;
}

.spinner-1.is-loading div {
  animation: spinner 1.2s linear infinite both;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
    border-width: 0.1em;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
